.pokemonView {
  height: 65vh;
  position: relative;
  .pokemonImg {
    margin: auto;
    width: 76%;
    height: 60%;
    max-width: 265px;
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 10;
  }
}
