.grid {
  width: 100%;
  max-width: 650px;
  height: fit-content;
  margin: 0 auto;
  display: grid;
  gap: 15px;
  list-style-type: none;

  &--home {
    grid: auto-flow 63px / repeat(2, max(155px, 47%));

    @media screen and (max-width: 420px) {
      width: 100%;
    }
  }
  &--pokedex {
    grid: auto-flow 110px / repeat(2, max(155px, 30%));

    &--singleColumn {
      width: min(85%, 900px);
      grid: auto-flow 95px / 100%;
      margin: 0 auto;
    }

    @media screen and (min-width: 551px) {
      grid: auto-flow 110px / repeat(3, max(155px, 30%));
    }
    @media (min-width: 370px) and (max-width: 550px) {
      width: 320px;
    }
  }
  &__item {
    padding: 0;
    margin: 0;
  }
}
