.pokemonBackground {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;

  .pokeballContainer {
    overflow: hidden;
    margin: auto;
    width: 57%;
    height: 30%;
    max-width: 249px;
    position: absolute;
    top: -3vh;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 5;
  }

  &--type {
    &--normal {
      background-color: var(--normal);
    }
    &--fire {
      background-color: var(--fire);
    }
    &--water {
      background-color: var(--water);
    }
    &--grass {
      background-color: var(--grass);
    }
    &--poison {
      background-color: var(--poison);
    }
    &--eletric {
      background-color: var(--eletric);
    }
    &--ground {
      background-color: var(--ground);
    }
    &--ice {
      background-color: var(--ice);
    }
    &--fighting {
      background-color: var(--fighting);
    }
    &--flying {
      background-color: var(--flying);
    }
    &--psychic {
      background-color: var(--physic);
    }
    &--bug {
      background-color: var(--bug);
    }
    &--ghost {
      background-color: var(--ghost);
    }
    &--dragon {
      background-color: var(--dragon);
    }
    &--dark {
      background-color: var(--dark);
    }
    &--steel {
      background-color: var(--steel);
    }
    &--fairy {
      background-color: var(--fairy);
    }
  }
}
