.news {
  margin: 15vh 0 5vh 0;
  background-color: #f5f5f5;

  &__header {
    display: flex;
    padding: 0 3vh;
    width: min(85%, 1024px);
    justify-content: space-between;
    align-items: center;
    height: 15vh;
    margin: 1.5vh auto;
  }
  &__container {
    display: grid;
    margin: 15px 0 5vh 0;
    max-width: 900px;
    width: 95%;
    margin: 0 auto;
    grid: auto-flow 140px / repeat(2, 50%);
    gap: 30px;

    @media (min-width: 601px) and (max-width: 938px) {
      grid: auto-flow 170px / 100%;
      gap: 30px;
      width: 100%;
      max-width: 570px;
    }

    @media (max-width: 600px) {
      grid: auto-flow 250px / 100%;
      gap: 30px;
    }
  }
}
