.pokeNavItem {
  position: relative;
  padding: 1rem;
  &__bar {
    width: 60px;
    height: 2.5px;
    background-color: #6c79db;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }
}
