.pokeNav {
  list-style-type: none;
  width: min(85%, 1024px);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  &__bar {
    width: 85%;
    border: 1px solid #f4f5f4;
  }
}
