.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  &__listIcon {
    width: 32px;
    height: 32px;
  }
}

.pokedexSection {
  display: flex;
  gap: 2.5rem;
  flex-direction: column;
}
